@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Azeret+Mono:100,200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:100,200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800);

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  color: grey;
  margin-top: 20px;
  padding-left: 20px;
}

.menu {
  width: 150px;
  text-align: left;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.menu-entry {
  padding-bottom: 20px;
}

.menu-entry-label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clickable-button {
  border: 1px solid #c8c8c8;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.clickable-button:hover {
  background-color: #d3d3d3;
}

.hidden-button {
  position: absolute;
  left: -99999rem;
}

input[type='button'],
input[type='file'] {
  position: absolute;
  left: -99999rem;
}

.checkboxes label {
  display: block;
  padding-top: 5px;
}

.checkboxes input {
  width: 25px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/* Dots canvas positioning */
.dots-canvas {
  position: absolute;
  top: 50%;
  left: 60%;
  min-height: 400px;
  min-width: 300px;
  padding: 40px;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  margin-bottom: 20px;
}

.slider-track {
  font-size: 15px;
  color: #00f;
  -webkit-user-select: none;
  user-select: none;
}

.slider-input {
  -webkit-appearance: none;
  width: 80px;
  background: transparent;
  outline: none;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  left: 25px;
  margin-top: -2px;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #00f;
  cursor: grab;
  margin-bottom: 10px;
}

.slider-asterix {
  -webkit-user-select: none;
  user-select: none;
  height: 10px;
  width: 10px;
}

.slider-asterix:hover {
  color: #6495ed;
}

.slider-dashes {
  -webkit-user-select: none;
  user-select: none;
}


